{% extends 'admin/base_admin.html.twig' %}

{% block content %}
        <!-- <h3 class="text-center text-uppercase mb-3 text-primary">CẢM NHẬN VỀ BÀI HÁT</h3> -->
        <div class="row">
            <div class="col-sm">
                <a href="index.php?controller=article&action=add" class="btn btn-success">Thêm mới</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tiêu đề</th>
                            <th scope="col">Tên bài hát</th>
                            <th scope="col">Tên thể loại</th>
                            <th scope="col">Tóm tắt</th>
                            <th scope="col">Nội dung</th>
                            <th scope="col">Tác giả</th>
                            <th scope="col">Ngày viết</th>
                            <th scope="col">hình ảnh</th>
                            <th>Sửa</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                  	{% set count = 0 %}
					{% for article in articles %}
						{% set count = count + 1 %}
                            <tr>
                                <th scope="row">
                                    {{count}}
                                </th>
                                <td>
                                    {{article.title}}
                                </td>
                                <td>
                                    {{article.song_name}}
                                </td>
                                <td>
                                    {{article.cat_name}}
                                </td>
                                <td>
                                    {{article.summary}}
                                </td>
                                <td>
                                    {{article.content}}
                                </td>
                                <td>
                                    {{article.author_name}}
                                </td>
                                <td>
                                    {{article.date}}
                                </td>

                                <td>

                                    <img style="width: 100px;" src="/CSE485_2023_BTTH03/bai_3/views/image/songs/{{article.image}}">
                                </td>
                                <td>
                                    <a href="index.php?controller=article&action=edit&sid={{article.article_id}}"><i class="fa-solid fa-pen-to-square"></i></a>
                                </td>
                                <td>
                                    <a onclick="return confirm('Bạn có muốn xóa không');" href="/CSE485_2023_BTTH03/bai_3/index.php?controller=article&action=delete&sid={{article.article_id}}"><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                    		{% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}